/*
--------------------------
- kalu css-based UI component kit -
--------------------------
+[component] [class name]
--------------------------
+ button [kalu-btn]
+ caption box [kalu-caption-box]
+ caption text [kalu-caption-text]
+ image gallery [kalu-img-gal]
+ accordion [kalu-accordion]
--------------------------
*/


/*background color*/
.kalu-back-grey{
    background: rgba(226, 226, 226, 0.25);
}

/*caption box*/
.kalu-caption-box{
    border: 5px solid #ffffff;
    border-radius: 0px;
    height: 240px;
    width: 320px;
    background: #ffffff;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0 3px #000000;
    -moz-box-shadow: 0 0 3px #000000;
    -o-box-shadow: 0 0 3px #000000;
    box-shadow: 0 0 3px #000000;
}

.kalu-caption-box:hover .kalu-caption-text{
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px #000000;
    -moz-box-shadow: 0 0 10px #000000;
    -o-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
    top: 0;
}

.kalu-caption-box img{
    height: 230px;
    width: auto;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    opacity: .7;
}

.kalu-caption-box img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
}

/*caption text*/
.kalu-caption-text{
    background: rgba(0,0,0,0.5);
    top: 100px;
    color: #ffffff;
    height: auto;
    width: inherit;
    position: absolute;
}

.kalu-caption-text a{
    color: #ffffff;
    display: block;
    padding: 15px;
    text-decoration: none;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.kalu-caption-text a:hover{
    color: black;
    text-decoration: none;
}

/*image gallery*/
.kalu-img-gal img{
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    opacity: .7;
    margin: 40px 20px 20px 50px;
}

.kalu-img-gal img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 30px gray;
    -moz-box-shadow: 0px 0px 30px gray;
    -o-box-shadow: 0px 0px 30px gray;
    box-shadow: 0px 0px 30px gray;
    opacity: 1;
}
/*button*/
.kalu-btn{
    display: inline-block;
    background-color: rgba(0,0,0,.6);
    padding: 5px 10px 6px 10px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255,255,255,.5);
    border:1px solid rgba(0,0,0,.4);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,.5);
    -o-box-shadow: 0px 0px 2px rgba(0,0,0,.5);
    box-shadow: 0px 0px 2px rgba(0,0,0,.5);
}

/*accordion*/
.kalu-accordion{
    margin: 100px;
}

.kalu-accordion article{
    -webkit-transform: perspective(900px) rotateY(60deg);
    -moz-transform: perspective(900px) rotateY(60deg);
    -o-transform: perspective(900px) rotateY(60deg);
    transform: perspective(900px) rotateY(60deg);
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    background: #ffffff;
    border: 1px solid #000000;
    float: left;
    height: 420px;
    margin-left: -180px;
    padding: 20px;
    width: 220px;
}

.kalu-accordion article:first-child{
    margin: 0px;
}

.kalu-accordion article img{
    float: left;
    padding: 0 10px 5px 0;
}

.kalu-accordion article:hover{
    -webkit-transform: perspective(0) rotateY(-10deg);
    -moz-transform: perspective(0) rotateY(-10deg);
    -o-transform: perspective(0) rotateY(-10deg);
    transform: perspective(0) rotateY(-10deg);
    margin: 0 140px 0 -60px;
}

